---
import Section from "./Section.astro"
const { model, subtitle, textButton, secondTextButton, image } = Astro.props
---

<Section title={model} subtitle={subtitle} color='black'>
  <img
    slot='background'
    class='object-center object-cover h-full w-full'
    src={image}
    alt=`Tesla ${model}`
  />
  <div slot='footer' class='flex gap-x-6 justify-center'>
    <a
      class='text-black border-[3px] border-white/5 text-sm rounded py-2 px-20 font-medium bg-white/70 hover:bg-black hover:text-white hover:border-black transition-colors'
      href='#'>{textButton}</a
    >
    <a
      class='text-white border-[3px] border-black/5 text-sm rounded py-2 px-20 font-medium bg-black/70 hover:bg-black/40 transition-colors'
      href='#'>{secondTextButton}</a
    >
  </div>
</Section>
